.footer {
    -fx-padding: 10px;
}

.footer > HBox {
    -fx-padding: 0 20px 0 0;
}

.button-container {
    -fx-alignment: center;
    -fx-padding: 24px 0 0 0;
}

.game-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.9);
    -fx-alignment: center;
    -fx-font-size: 32px;
    -fx-padding: 0 0 50px 0;
}

.game-overlay > HBox {
    -fx-alignment: center;
    -fx-text-fill: white;
}

.game-over-overlay > Button {
    -fx-font-size: 24px;
    -fx-padding: 10px 20px;
}

.dialog-form {
    -fx-alignment: CENTER;
    -fx-padding: 10px 20px;
}

.dialog-form HBox, .dialog-form VBox {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.dialog-form CheckBox {
    -fx-padding: 10px;
}

.dialog-form .header {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-padding: 0;
}

.dialog-form .table-footer {
    -fx-padding: 15px 0;
}